.DS_Store
.idea
thumbs.db
*.zip
*.pyc
*_pb2.py
*.bak
*.hex
*.[oa]
*.pb.go
.vscode/ipch/**
!.gitkeep

doc/**
.unison*
node_modules
go.sum

test/**/build/
test/unittest/generated

dev/core/**/_bld/

compile_commands.json

!doc/memmap.xlsx

dev/api/src/blox-api
dev/services/homie-bridge/src/blox-service-homie-bridge
dev/services/homie-bridge/src/blox-homie-bridge
dev/services/update/src/blox-service-update
dev/services/system/src/blox-service-system
dev/services/test-adapter/src/test-adapter

dev/things/_bundle

toolchain/**